

<div class="container  mb-3">    
   
        <h1 class="section-title mt-5">About <span style="color: #FFC93C;">Me</span></h1>
        
        <h2>Hi There,</h2> 
        <p class="aboutme"> <span style="font-size: xx-large; font-weight: bolder;">"</span>I'm Vaibhav Bhute, a passionate <em> <strong style="color: bisque;">Full-Stack Developer </strong> </em> with a knack for creating clean, efficient, and user-friendly web and mobile applications. With over 4 years of experience in Full Stack Development, and Performance Engineering. I enjoy turning ideas into reality through code. <br>

        <i style="color: bisque;"> Welcome to my digital space where I showcase my projects, share my journey, and connect with like-minded tech enthusiasts.</i><span style="font-size: xx-large; font-weight: bolder;">"</span>
           
        </p>

        <button class="button mt-3"(click)="DownLoadResume()">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Download Resume</span>
            </span>
        </button>
    </div>


