.container {
    display: grid;
    grid-template-columns: repeat(9, minmax(90px, 1fr));
    
    gap: 8px;
    padding: 20px;
   
  }
  
  .section-title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  .card {
    padding: 12px;
    text-align: center;
    align-items: center;
    background-color: #370854;
    color: #FBF3D5;
    font-weight: 200;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    border-radius: 8px;
  }
  
  .card-image {
    width: 45px;
    height: 45px;
  }
  
  h4 {
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 2px; /* Further reduced bottom margin */
    font-size: 12px;
  }
  
  .card:hover {
    transform: scale(1.1);
    border: 1px solid bisque;
  }
  
  .card.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Mobile View: Force 3 cards per row */
  @media (max-width: 600px) {
    .container {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: center;
      
    }
    .card {
      padding: 10px;
    }
    .card-image {
      width: 35px;
      height: 35px;
    }
    h4 {
      font-size: 11px;
      margin-bottom: 2px;
    }
  }
  