<h1 class="section-title mt-5 mb-3">Skills <span style="color: #FFC93C;">& Tools</span></h1>
<div class="container">
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/QnDZM67/html.png" alt="HTML">
    <h4>HTML</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/kmt8qbt/css.png" alt="CSS">
    <h4>CSS</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/DbrDMw2/bootstrap.png" alt="Bootstrap">
    <h4>Bootstrap</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/PCvtjRW/angular.png" alt="Angular">
    <h4>Angular</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/J5pZZwJ/js.png" alt="JavaScript">
    <h4>JavaScript</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/4Fw88p2/typescript.png" alt="TypeScript">
    <h4>TypeScript</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/SRh5xL4/express.png" alt="ExpressJs">
    <h4>ExpressJs</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/jVmmJmn/nodejs.png" alt="NodeJs">
    <h4>NodeJs</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/gSJYfQ6/java.png" alt="Java">
    <h4>Java</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/cXskmTZ/mongodb.png" alt="MongoDB">
    <h4>MongoDB</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/2jbQDMq/mysql.png" alt="MySQL">
    <h4>MySQL</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/brZjNHX/github1.png" alt="Git">
    <h4>Git</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/1dxCgb8/aws.png" alt="AWS">
    <h4>AWS</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/1fwSSMS/jira.png" alt="Jira">
    <h4>Jira</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/VMQVKzB/appd.jpg" alt="AppDynamics">
    <h4>AppDynamics</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/k68P73K/Splunk-1.png" alt="Splunk">
    <h4>Splunk</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/cTFvTTq/postman.jpg" alt="Postman">
    <h4>Postman</h4>
  </div>
  <div class="card">
    <img class="card-image" src="https://i.ibb.co/dwg1RSpN/xamarin.png" alt="xamarin">
    <h4>Xamarin</h4>
  </div>
</div>
