<div class="container">
    <section id="sayHello" class="py-1">
        <app-say-hello></app-say-hello>
    </section>

    <section id="aboutme" class="py-1">
        <app-about-me></app-about-me>
    </section>

    <section id="skills" class="py-1">
        <app-skills></app-skills>
    </section>

    <section id="myworks" class="py-1">
        <app-projects></app-projects>
    </section>

    <section id="shortExp" class="py-1">
        <app-stapper-experiece></app-stapper-experiece>
    </section>

    <section id="education" class="py-1">
        <app-education></app-education>
    </section>
</div>
